In [2]:
import os

import pandas as pd
import json
#同一个目录下读取多个json文件转csv文件


def json_to_csv():
    dir="/Users/cecilia/school/"
    files=os.listdir(dir)

    datalist=[]
    for filename in files:
        if filename.endswith(".json"):
            filepath=dir+filename
            #print(filepath)
            with open(filepath) as f:
                 datalist+= f.readlines()
    dictlist=[]
    for data in datalist:
        #print(data)
        try:
            dictlist.append(json.loads(data))
        except Exception:
            print(data)


    df = pd.json_normalize(dictlist, record_path=['colleges'],
                       meta=['errno','msg','total']
                       )

    print(df)
    df.to_csv("/Users/cecilia/school2.csv")



if __name__ == '__main__':
    json_to_csv()
    print("jie su")

     ad_count                                         address    aps_slug  \
0          21                       Northampton Square London  uk.city.ac
1           0
2           0                       Aston Triangle Birmingham    uk.aston
3          24
4           0  Corner of Ninth and Ivinson Laramie, WY  82071        uwyo
..        ...                                             ...         ...
635         1         Hermann-von-Helmholtz-Platz 1 Karlsruhe      de.kit
636         0                        2 George Street Brisbane      au.qut
637         0                                            None  pt.ulisboa
638        37       2624 Clifton Avenue Cincinnati, OH  45221          uc
639         0                   2066 Seobu-ro Jangan-gu Suwon     kr.skku

     area      cost  count country cover_image   gpa  gre  ...  \
0      英国               21       3     #ede6e6  3.56  320  ...
1     意大利                0       8     #bf1833  0.00    0  ...
2      英国  EUR9,063      0       3     #a424ab  0.00    0  ...
3      英国               25       3     #0d375e  3.60  321  ...
4      美国   $17,582      0       1     #4c2c23  0.00    0  ...
..    ...       ...    ...     ...         ...   ...  ...  ...
635    德国  EUR8,400      1       8     #2e2e28  3.10    0  ...
636  澳大利亚                0       7     #154474  0.00    0  ...
637   葡萄牙                0       8     #040404  0.00    0  ...
638    美国   $11,874     41       1     #bb041d  3.49  324  ...
639    韩国                0       8     #ced2c6  0.00    0  ...

    is_releasing_result.planmajor  is_releasing_result.planprogram  \
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
..                            ...                              ...
635                           NaN                              NaN
636                           NaN                              NaN
637                           NaN                              NaN
638                           NaN                              NaN
639                           NaN                              NaN

    is_releasing_result.planterm is_releasing_result.planyr  \
0                            NaN                        NaN
1                            NaN                        NaN
2                            NaN                        NaN
3                            NaN                        NaN
4                            NaN                        NaN
..                           ...                        ...
635                          NaN                        NaN
636                          NaN                        NaN
637                          NaN                        NaN
638                          NaN                        NaN
639                          NaN                        NaN

     is_releasing_result.result  is_releasing_result.subject  \
0                           NaN                          NaN
1                           NaN                          NaN
2                           NaN                          NaN
3                           NaN                          NaN
4                           NaN                          NaN
..                          ...                          ...
635                         NaN                          NaN
636                         NaN                          NaN
637                         NaN                          NaN
638                         NaN                          NaN
639                         NaN                          NaN

    is_releasing_result.tid errno msg total
0                       NaN     0  OK   640
1                       NaN     0  OK   640
2                       NaN     0  OK   640
3                       NaN     0  OK   640
4                       NaN     0  OK   640
..                      ...   ...  ..   ...
635                     NaN     0  OK   640
636                     NaN     0  OK   640
637                     NaN     0  OK   640
638                     NaN     0  OK   640
639                     NaN     0  OK   640

[640 rows x 37 columns]
jie su